<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= task.completed ? "☑︎" : "□" %>
      <%= link_to "#{task.title}", task_path(task.id) %></h2>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a new task', new_task_path %>
